html, body{
    height: 100%;
}

.ContentCtn{
    display: flex;
    flex-direction: column;
    column-gap: 31px;
    row-gap: 29px;

}

.Card1{
    height: 259px;
  width: 486px;
  border-radius: 10px;
  background-color: hsl(263, 55%, 52%);
  color: white;
   box-shadow: -2px 11px 39px gray;
  }

.Daniel-Clifford-ctn{
    border-radius: 40px;
  height: 33px;
  border-style: groove;
  border-color: hsl(264, 82%, 80%);
}

.bg-pattern-quotation-ctn{

}

.Card1Name{

}

.Card1Text{

}

.Card1paragraph{

}

.Card2{
  background-color: hsl(224, 10%, 45%);
  border-radius: 10px;
  color: white;
  width: 315px;
  height: 398px;
   box-shadow: -2px 11px 39px gray;

}

.Jonathan-Walters-ctn{
     border-radius: 40px;
  height: 33px;
  border-style: unset;
}

.Card2Name{

}

.Card2Text{

}


.Card2paragraph{

}


.Card3{
  height: 256px;
  width: 246px;
  box-shadow: -2px 11px 39px gray;
  border-radius: 10px;
}

.Jeanette-Harmon-ctn{
     border-radius: 40px;
  height: 33px;
  border-style: unset;
}

.Card3Name{

}


.Card3Text{

}

.Card3paragraph{

}


.Card4{
    background-color: hsl(219, 29%, 14%);
  color: white;
  box-shadow: -2px 11px 39px gray;
  border-radius: 10px;
  width: 749px;
  height: 257px;
}

.Patrick-Abrams-ctn{
     border-radius: 40px;
  height: 33px;
  border-style: groove;
  border-color: hsl(264, 82%, 80%);
}

.Card4Name{

}

.Card4Text{

}

.Card4paragraph{

}

.Card5{
width: 252px;
  height: 810px;
  color: hsl(217, 19%, 35%);
  border-radius: 10px;
  background-color: white;
  box-shadow: -2px 11px 39px;
}

.Kira-Whittle-ctn{
    border-radius: 40px;
  height: 33px;
  border-style: unset;
}

.Card5Name{

}


.Card5Text{

}

.Card5paragraph{

}

.attribution{
    padding-top: 10px;
}

.image-name-occupation-ctn{
  display: flex;
  flex-direction: inherit;
  column-gap: 14px;
}
